[Desktop Entry]
Name=maltego
Comment=maltego
Type=Application
Icon=utilities-terminal
Categories=08-frameworks
Terminal=true
Exec=/usr/share/kali-menu/exec-in-shell maltego
Path=
StartupNotify=false
